html, body {
  height: 100%;
  width: 100%;
  background-color: #605e5e  !important;
}

.node .control input, .node .input-control input {
  width: 140px;
}
select, input {
  width: 100%;
  border-radius: 30px;
  background-color: white;
  padding: 2px 6px;
  border: 1px solid #999;
  font-size: 110%;
  width: 170px;
}

.btn {
  background: rgba(110, 136, 255, 0.8) !important;
  border: 2px solid #4e58bf !important;
  color: white !important;
  border-radius: 10px;
}

.btn:hover {
   opacity: 0.9;
}

.editor {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 90vh;
}

.node.selected {
  background: #ffa32cc9;
  border-color: #e3c000;
}

.socket {
  border-color: #605e5e !important;
} 

.dock {
    /* height: 50px; */
    /* overflow-x: auto; */
    overflow-y: auto !important;
    flex-wrap: wrap;
    /* white-space: nowrap; */

}

input {
  color: white !important;
  background-color: #605e5e !important;
  border-color: #605e5e !important;
}

.dock-item{
    display: inline-block;
    vertical-align: top;
    /* transform: scaleY(0.7); */
    transform-origin: 50% 0;
}

.dock-item .node{
  max-height: 40px;
  overflow: hidden;
}

.dock-item:hover {
   opacity: 0.9;
}

.row.dock {
    position: absolute;
    bottom: 10px;
}

.context-menu{
  /*TODO add a min width to match longest entry*/
  width: 10% !important;
}


