/*GENERAL POP OUT SETTINGS */
.window-close{
  position: absolute;
  right: 1%;
  top: 1%;
}

/*SCHEMA EDITOR SETTINGS*/
  .schema-editor {
    display: none;
    position: fixed;
    top: 5%;
    right: 5%;
    left: 5%;
    border: 3px solid;
    z-index: 9;
    resize: both !important;
    overflow: auto !important;
    height: 90%;
    width: 90%;
    opacity: 0.8;
    margin: 0;
  }

  .schema-editor-container {
    height: 93% !important;
    margin: 0 !important;
  }
  
 .schema-text-editor {
    width: 100%;
    height: 92% !important;
    border: solid 3px;
    resize: none;
  }

  .schema-control-button{
    position: absolute;
    right: 1%;
    bottom: 1%;
  }

  .schema-select{
    width: 100%;
  }
  
  /* LOP WINDOW SETTINGS */
  .log-popup {
    display: none;
    position: fixed;
    bottom: 0;
    border: 1px solid;
    z-index: 9;
    width: 100%;
    resize: both !important;
    overflow: auto !important;
    max-height: 30%;
  }

  .log-container{
    width: 100% !important;
  }

  .log-text-area {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    resize: none;
    min-height: 100px;
  }

  .open-button {
    border: 2px solid;
    cursor: pointer;
    position: fixed;
    bottom: 1%;
    right: 1%;
    width: 100px; 
    height: 30px;
  }

  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

  .form-container {
    padding: 10px;
  }

  .form-container textarea:focus {
    outline: none;
  }

  .form-container .btn {
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }